@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #151f00,
    20: #273500,
    25: #304100,
    30: #3a4d00,
    35: #445a00,
    40: #4e6700,
    50: #638100,
    60: #789d00,
    70: #8fba00,
    80: #a7d717,
    90: #c2f43b,
    95: #d9ff7a,
    98: #f3ffcd,
    99: #faffe3,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #151f00,
    20: #273500,
    25: #304100,
    30: #3a4d00,
    35: #455a09,
    40: #506616,
    50: #687f2e,
    60: #819a45,
    70: #9bb55d,
    80: #b6d175,
    90: #d2ed8e,
    95: #e0fc9b,
    98: #f3ffcd,
    99: #faffe3,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #390b00,
    20: #5d1800,
    25: #701e00,
    30: #842500,
    35: #982c00,
    40: #ad3300,
    50: #d4460f,
    60: #f75f29,
    70: #ff8b65,
    80: #ffb59e,
    90: #ffdbd0,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #161c1f,
    20: #2b3135,
    25: #363c40,
    30: #42484b,
    35: #4d5357,
    40: #595f63,
    50: #72787c,
    60: #8b9295,
    70: #a6acb0,
    80: #c1c7cb,
    90: #dee3e7,
    95: #ecf1f6,
    98: #f5fafe,
    99: #fafcff,
    100: #ffffff,
    4: #090f12,
    6: #0e1417,
    12: #1a2024,
    17: #252b2e,
    22: #303639,
    24: #343a3d,
    87: #d5dbdf,
    92: #e3e9ed,
    94: #e9eff3,
    96: #eff4f8,
  ),
  neutral-variant: (
    0: #000000,
    10: #191d0c,
    20: #2d3220,
    25: #383e2a,
    30: #444935,
    35: #4f5540,
    40: #5b614b,
    50: #747a63,
    60: #8e937b,
    70: #a8ae95,
    80: #c4c9af,
    90: #e0e5ca,
    95: #eef4d8,
    98: #f7fce0,
    99: #faffe3,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
